
<div class="columns-container">
    <!-- end services -->
    <div class="box-products new-arrivals">
        <div class="container">
            <div class="box-product-head">
                <span class="box-title">New Releases 123</span>
                <ul class="box-tabs nav-tab">
                    <li>
                        <div class="readmore">
                            <a href="http://www.buybooksindia.com/new-releases-books-p1.php">View More</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="box-product-content">
                <div class="box-product-adv">
                    <ul class="owl-carousel nav-center owl-theme owl-loaded" data-items="1" data-dots="false" data-autoplay="true" data-loop="true" data-nav="true">


                        <div class="owl-stage-outer"><div style="transform: translate3d(-678px, 0px, 0px); transition: all 0.3s ease 0s; width: 1356px;" class="owl-stage"><div style="width: 226px; margin-right: 0px;" class="owl-item cloned"><li><a href="http://www.buybooksindia.com/new-releases-books-p1.php"><img src="~/images/new-arrivals-1.jpg" alt="New Releases"></a></li></div><div style="width: 226px; margin-right: 0px;" class="owl-item cloned"><li><a href="http://www.buybooksindia.com/new-releases-books-p1.php"><img src="~/images/new-arrivals-2.jpg" alt="New Releases"></a></li></div><div style="width: 226px; margin-right: 0px;" class="owl-item"><li><a href="http://www.buybooksindia.com/new-releases-books-p1.php"><img src="~/images/new-arrivals-1.jpg" alt="New Releases"></a></li></div><div style="width: 226px; margin-right: 0px;" class="owl-item active"><li><a href="http://www.buybooksindia.com/new-releases-books-p1.php"><img src="~/images/new-arrivals-2.jpg" alt="New Releases"></a></li></div><div style="width: 226px; margin-right: 0px;" class="owl-item cloned"><li><a href="http://www.buybooksindia.com/new-releases-books-p1.php"><img src="~/images/new-arrivals-1.jpg" alt="New Releases"></a></li></div><div style="width: 226px; margin-right: 0px;" class="owl-item cloned"><li><a href="http://www.buybooksindia.com/new-releases-books-p1.php"><img src="~/images/new-arrivals-2.jpg" alt="New Releases"></a></li></div></div></div>
                        <div class="owl-controls"><div class="owl-nav"><div style="" class="owl-prev"><i class="fa fa-angle-left"></i></div><div style="" class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                    </ul>
                </div>
                <div class="box-product-list">
                    <div class="tab-container">
                        <div id="tab-1" class="tab-panel active">
                            <ul class="product-list owl-carousel nav-center owl-theme owl-loaded" data-dots="false" data-loop="true" data-nav="true" data-margin="50" data-responsive="{&quot;0&quot;:{&quot;items&quot;:2},&quot;600&quot;:{&quot;items&quot;:4},&quot;1000&quot;:{&quot;items&quot;:5}}">




















                                <div class="owl-stage-outer">
                                    <div style="transform: translate3d(-984px, 0px, 0px); transition: all 0s ease 0s; width: 3936px;" class="owl-stage">
                                        <div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/cometh-the-hour-9781509827404-29592006.htm"><img class="img-responsive" alt="COMETH THE HOUR" src="~/images/image_030.jpg" title="COMETH THE HOUR" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="29592006" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29592006" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/cometh-the-hour-9781509827404-29592006.htm" title="COMETH THE HOUR"><h2>Cometh The Hour</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>407<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>599</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/india-2016-9788123020815-100000019.htm"><img class="img-responsive" alt="INDIA 2016" src="~/images/image_026.jpg" title="INDIA 2016" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100000019" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100000019" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/india-2016-9788123020815-100000019.htm" title="INDIA 2016"><h2>India 2016</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>245<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>350</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    30% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/bharat-2016--9788123020747-100001671.htm"><img class="img-responsive" alt="BHARAT 2016 " src="~/images/image_003.jpg" title="BHARAT 2016 " border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100001671" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001671" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/bharat-2016--9788123020747-100001671.htm" title="BHARAT 2016 "><h2>Bharat 2016 </h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>273<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>350</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    22% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/you-ve-got-the-wrong-girl-9789350095805-100001611.htm"><img class="img-responsive" alt="YOU'VE GOT THE WRONG GIRL" src="~/images/image_020.jpg" title="YOU'VE GOT THE WRONG GIRL" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100001611" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001611" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/you-ve-got-the-wrong-girl-9789350095805-100001611.htm" title="YOU'VE GOT THE WRONG GIRL"><h2>You've Got The Wrong Girl</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>245<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>350</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    30% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/our-impossible-love--9780143424611-29593681.htm"><img class="img-responsive" alt="OUR IMPOSSIBLE LOVE " src="~/images/image_007.jpg" title="OUR IMPOSSIBLE LOVE " border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="29593681" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29593681" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/our-impossible-love--9780143424611-29593681.htm" title="OUR IMPOSSIBLE LOVE "><h2>Our Impossible Love </h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>119<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>175</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/the-industries-of-the-future-9781471135255-29617576.htm"><img class="img-responsive" alt="THE INDUSTRIES OF THE FUTURE" src="~/images/image_022.jpg" title="THE INDUSTRIES OF THE FUTURE" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="29617576" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29617576" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/the-industries-of-the-future-9781471135255-29617576.htm" title="THE INDUSTRIES OF THE FUTURE"><h2>The Industries of the</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>407<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>599</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/the-pcod-thyroid-book-9789385724411-29617609.htm"><img class="img-responsive" alt="THE PCOD - THYROID BOOK" src="~/images/image_009.jpg" title="THE PCOD - THYROID BOOK" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="29617609" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29617609" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/the-pcod-thyroid-book-9789385724411-29617609.htm" title="THE PCOD - THYROID BOOK"><h2>The PCOD - Thyroid Book</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>136<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>200</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/originals-9780753556986-100000135.htm"><img class="img-responsive" alt="ORIGINALS" src="~/images/image_019.jpg" title="ORIGINALS" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100000135" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100000135" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/originals-9780753556986-100000135.htm" title="ORIGINALS"><h2>Originals</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>559<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>699</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    20% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/snakes-of-india-the-field-guide-9789385724237-100000604.htm"><img class="img-responsive" alt="SNAKES OF INDIA : THE FIELD GUIDE" src="~/images/image_018.jpg" title="SNAKES OF INDIA : THE FIELD GUIDE" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100000604" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100000604" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/snakes-of-india-the-field-guide-9789385724237-100000604.htm" title="SNAKES OF INDIA : THE FIELD GUIDE"><h2>Snakes of India : The Field</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>951<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>1399</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/breaking-free-9789382665625-100000745.htm"><img class="img-responsive" alt="BREAKING FREE" src="~/images/image_012.jpg" title="BREAKING FREE" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100000745" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100000745" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/breaking-free-9789382665625-100000745.htm" title="BREAKING FREE"><h2>Breaking Free</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>119<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>175</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/cometh-the-hour-9781509827404-29592006.htm"><img class="img-responsive" alt="COMETH THE HOUR" src="~/images/image_030.jpg" title="COMETH THE HOUR" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="29592006" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29592006" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/cometh-the-hour-9781509827404-29592006.htm" title="COMETH THE HOUR"><h2>Cometh The Hour</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>407<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>599</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/india-2016-9788123020815-100000019.htm"><img class="img-responsive" alt="INDIA 2016" src="~/images/image_026.jpg" title="INDIA 2016" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100000019" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100000019" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/india-2016-9788123020815-100000019.htm" title="INDIA 2016"><h2>India 2016</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>245<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>350</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    30% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/bharat-2016--9788123020747-100001671.htm"><img class="img-responsive" alt="BHARAT 2016 " src="~/images/image_003.jpg" title="BHARAT 2016 " border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100001671" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001671" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/bharat-2016--9788123020747-100001671.htm" title="BHARAT 2016 "><h2>Bharat 2016 </h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>273<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>350</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    22% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/you-ve-got-the-wrong-girl-9789350095805-100001611.htm"><img class="img-responsive" alt="YOU'VE GOT THE WRONG GIRL" src="~/images/image_020.jpg" title="YOU'VE GOT THE WRONG GIRL" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100001611" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001611" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/you-ve-got-the-wrong-girl-9789350095805-100001611.htm" title="YOU'VE GOT THE WRONG GIRL"><h2>You've Got The Wrong Girl</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>245<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>350</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    30% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/our-impossible-love--9780143424611-29593681.htm"><img class="img-responsive" alt="OUR IMPOSSIBLE LOVE " src="~/images/image_007.jpg" title="OUR IMPOSSIBLE LOVE " border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="29593681" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29593681" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/our-impossible-love--9780143424611-29593681.htm" title="OUR IMPOSSIBLE LOVE "><h2>Our Impossible Love </h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>119<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>175</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/the-industries-of-the-future-9781471135255-29617576.htm"><img class="img-responsive" alt="THE INDUSTRIES OF THE FUTURE" src="~/images/image_022.jpg" title="THE INDUSTRIES OF THE FUTURE" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="29617576" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29617576" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/the-industries-of-the-future-9781471135255-29617576.htm" title="THE INDUSTRIES OF THE FUTURE"><h2>The Industries of the</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>407<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>599</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/the-pcod-thyroid-book-9789385724411-29617609.htm"><img class="img-responsive" alt="THE PCOD - THYROID BOOK" src="~/images/image_009.jpg" title="THE PCOD - THYROID BOOK" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="29617609" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29617609" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/the-pcod-thyroid-book-9789385724411-29617609.htm" title="THE PCOD - THYROID BOOK"><h2>The PCOD - Thyroid Book</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>136<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>200</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/originals-9780753556986-100000135.htm"><img class="img-responsive" alt="ORIGINALS" src="~/images/image_019.jpg" title="ORIGINALS" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100000135" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100000135" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/originals-9780753556986-100000135.htm" title="ORIGINALS"><h2>Originals</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>559<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>699</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    20% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/snakes-of-india-the-field-guide-9789385724237-100000604.htm"><img class="img-responsive" alt="SNAKES OF INDIA : THE FIELD GUIDE" src="~/images/image_018.jpg" title="SNAKES OF INDIA : THE FIELD GUIDE" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100000604" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100000604" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/snakes-of-india-the-field-guide-9789385724237-100000604.htm" title="SNAKES OF INDIA : THE FIELD GUIDE"><h2>Snakes of India : The Field</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>951<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>1399</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                            <li>
                                                <div class="left-block">
                                                    <a href="http://www.buybooksindia.com/breaking-free-9789382665625-100000745.htm"><img class="img-responsive" alt="BREAKING FREE" src="~/images/image_012.jpg" title="BREAKING FREE" border="0"></a>
                                                    <div class="quick-view">
                                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                                        <a title="Add to compare" class="compare" href="#"></a>
                                                        <a title="Quick view" class="search" href="#"></a>
                                                    </div>
                                                    <div class="add-to-cart"><a product-id="100000745" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100000745" title="Buy Now">Buy Now</a></div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="product-name"><a href="http://www.buybooksindia.com/breaking-free-9789382665625-100000745.htm" title="BREAKING FREE"><h2>Breaking Free</h2></a></div>
                                                    <div class="content_price">
                                                        <span class="price product-price">
                                                            <span class="rupee">Rs</span>119<span>
                                                                <span class="price old-price"><span class="rupee">Rs</span>175</span>
                                                            </span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price-percent-reduction2">
                                                    32% OFF
                                                </div>
                                                <div class="new-book"></div>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-controls"><div class="owl-nav"><div style="" class="owl-prev"><i class="fa fa-angle-left"></i></div><div style="" class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>