<div class="box-vertical-megamenus">
    <h4 class="title">
        <span class="title-menu">Categories</span>
        <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
    </h4>
    <div class="vertical-menu-content is-home" style="display: none block;">
        <ul class="vertical-menu-list">
            <li>
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Arts &amp; Photography</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Arts &amp; Photography</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/architecture-books-s2660.php">Architecture</a></li>

                                <li><a href="http://www.buybooksindia.com/fashion-design-books-s2671.php">Fashion Design</a></li>

                                <li><a href="http://www.buybooksindia.com/photography-and-photographs-books-s2672.php">Photography &amp; Photographs</a></li>

                                <li><a href="http://www.buybooksindia.com/drawing-and-drawings-books-s2682.php">Drawing &amp; Drawings</a></li>

                                <li><a href="http://www.buybooksindia.com/museums-and-art-galleries-books-s2685.php">Museums &amp; Art Galleries</a></li>

                                <li class="more-catg"><a href="http://www.buybooksindia.com/arts-and-photography-books-c94.php">More...</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Biography</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Biography</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/biography-historical-political-and-military-books-s16.php">Biography: Historical, Political &amp; Military</a></li>

                                <li><a href="http://www.buybooksindia.com/biography-business-and-industry-books-s38.php">Biography: Business &amp; Industry</a></li>

                                <li><a href="http://www.buybooksindia.com/biography-science-technology-and-medicine-books-s8524.php">Biography: Science, Technology &amp; Medicine</a></li>

                                <li><a href="http://www.buybooksindia.com/biography-literary-books-s8525.php">Biography: Literary</a></li>

                                <li><a href="http://www.buybooksindia.com/individual-composers-and-musicians-specific-bands-and-groups-books-s8663.php">Individual Composers &amp; Musicians, Specific Bands &amp; Groups</a></li>

                                <li class="more-catg"><a href="http://www.buybooksindia.com/biography-books-c298.php">More...</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Business &amp; Investing</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Business &amp; Investing</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/economics-books-s2654.php">Economics</a></li>

                                <li><a href="http://www.buybooksindia.com/small-businesses-and-self-employed-books-s2688.php">Small Businesses &amp; Self-Employed</a></li>

                                <li><a href="http://www.buybooksindia.com/taxation-books-s2693.php">Taxation</a></li>

                                <li><a href="http://www.buybooksindia.com/personal-finance-books-s2709.php">Personal Finance</a></li>

                                <li><a href="http://www.buybooksindia.com/organizational-theory-and-behaviour-books-s2710.php">Organizational Theory &amp; Behaviour</a></li>

                                <li class="more-catg"><a href="http://www.buybooksindia.com/business-and-investing-books-c92.php">More...</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Children Books</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Children Books</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/children-s-and-educational-books-s2683.php">Children's and Educational</a></li>

                                <li><a href="http://www.buybooksindia.com/colouring-and-painting-books-s2700.php">Colouring &amp; Painting</a></li>

                                <li><a href="http://www.buybooksindia.com/character-books-books-s2718.php">Character Books</a></li>

                                <li><a href="http://www.buybooksindia.com/english-language-early-readers-books-s2748.php">English Language Early Readers</a></li>

                                <li><a href="http://www.buybooksindia.com/baby-books-books-s2765.php">Baby Books</a></li>

                                <li class="more-catg"><a href="http://www.buybooksindia.com/children-books-books-c112.php">More...</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </li>
            <li><a href="http://www.buybooksindia.com/college-text-and-reference-books-c470.php"><img src="~/images/14.png" alt="Funky roots" class="icon-menu">College Text &amp; Reference</a></li>
            <li>
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Computers &amp; Internet</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Computers &amp; Internet</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/computer-programming-books-s2690.php">Computer Programming</a></li>

                                <li><a href="http://www.buybooksindia.com/web-design-books-s2696.php">Web Design</a></li>

                                <li><a href="http://www.buybooksindia.com/computer-certification-microsoft-eg-mcse--books-s2716.php">Computer Certification: Microsoft (eg MCSE)</a></li>

                                <li><a href="http://www.buybooksindia.com/mobile-phones-books-s2719.php">Mobile Phones</a></li>

                                <li><a href="http://www.buybooksindia.com/computer-hardware-and-operating-systems-books-s2736.php">Computer Hardware &amp; Operating Systems</a></li>

                                <li class="more-catg"><a href="http://www.buybooksindia.com/computers-and-internet-books-c91.php">More...</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Cooking, Food &amp; Wine</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Cooking, Food &amp; Wine</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/fruit-and-vegetables-books-s2714.php">Fruit &amp; Vegetables</a></li>

                                <li><a href="http://www.buybooksindia.com/cakes-baking-icing-and-sugarcraft-books-s2725.php">Cakes | Baking | Icing &amp; Sugarcraft</a></li>

                                <li><a href="http://www.buybooksindia.com/general-cookery-books-s2751.php">General Cookery</a></li>

                                <li><a href="http://www.buybooksindia.com/cookery-or-food-and-drink-etc-books-s2760.php">Cookery or Food &amp; Drink etc</a></li>

                                <li><a href="http://www.buybooksindia.com/food-and-drink-or-cookery-general-interest-books-s2889.php">Food &amp; Drink or Cookery: General Interest</a></li>

                                <li class="more-catg"><a href="http://www.buybooksindia.com/cooking-food-and-wine-books-c108.php">More...</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </li>
            <li><a href="http://www.buybooksindia.com/educational-and-professional-books-c467.php"><img src="~/images/14.png" alt="Funky roots" class="icon-menu">Educational and Professional</a></li>
            <li>
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Entertainment</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Entertainment</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/puzzles-and-quizzes-books-s2664.php">Puzzles &amp; Quizzes</a></li>

                                <li><a href="http://www.buybooksindia.com/radio-books-s2734.php">Radio</a></li>

                                <li><a href="http://www.buybooksindia.com/hobbies-quizzes-and-games-books-s2817.php">Hobbies | Quizzes &amp; Games</a></li>

                                <li><a href="http://www.buybooksindia.com/magic-tricks-books-s2820.php">Magic Tricks</a></li>

                                <li><a href="http://www.buybooksindia.com/music-books-s2823.php">Music</a></li>

                                <li class="more-catg"><a href="http://www.buybooksindia.com/entertainment-books-c102.php">More...</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Entrance Exams Preparation</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Entrance Exams Preparation</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/teacher-recruitment-exams-books-s9510.php">Teacher Recruitment Exams</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
            </li>
            <li class="cat-link-orther">
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Environment &amp; Planning</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Environment &amp; Planning</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/energy-resources-books-s8526.php">Energy Resources</a></li>

                                <li><a href="http://www.buybooksindia.com/environmental-policy-and-protocols-books-s8567.php">Environmental Policy &amp; Protocols</a></li>

                            </ul>
                        </div>

                    </div>
                </div>
            </li>
            <li class="cat-link-orther">
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Equestrian &amp; Animal Sports</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Equestrian &amp; Animal Sports</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/riding-showjumping-and-horsemanship-books-s8785.php">Riding, Showjumping &amp; Horsemanship</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="cat-link-orther">
                <a class="parent" href="#"><img class="icon-menu" alt="Funky roots" src="~/images/13.png">Geography</a>
                <div style="width: 900px;" class="vertical-dropdown-menu">
                    <div class="vertical-groups col-sm-12">
                        <div class="mega-group col-sm-12">
                            <h4 class="mega-group-header"><span>Geography</span></h4>
                            <ul class="group-link-default">
                                <li><a href="http://www.buybooksindia.com/geographical-information-systems-gis-and-remote-sensing-books-s28.php">Geographical Information Systems (GIS) &amp; Remote Sensing</a></li>

                                <li><a href="http://www.buybooksindia.com/geography-books-s2807.php">Geography</a></li>

                                <li><a href="http://www.buybooksindia.com/natural-disasters-books-s2880.php">Natural Disasters</a></li>

                                <li><a href="http://www.buybooksindia.com/graphology-books-s5274.php">Graphology</a></li>

                                <li><a href="http://www.buybooksindia.com/phrenology-and-physiognomy-books-s5275.php">Phrenology &amp; Physiognomy</a></li>

                                <li class="more-catg"><a href="http://www.buybooksindia.com/geography-books-c97.php">More...</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
        <div class="all-category"><span class="open-cate"><a class="show-all" href="javascript:void(0)">Show More Categories</a></span></div>
        <div class="all-category all-categoryshw"><span><a class="show-all" href="http://www.buybooksindia.com/allcategories.php">Show All Categories</a></span></div>
    </div>
</div>
