
<div class="box-products special-products">
    <div class="container">
        <div class="box-product-head">
            <span class="box-title">Upcoming Books 123</span>
            <ul class="box-tabs nav-tab">
                <li>
                    <div class="readmore">
                        <a href="http://www.buybooksindia.com/upcoming-books-books-p3.php">View More</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="box-product-content">
            <div class="box-product-adv">
                <ul class="owl-carousel nav-center owl-theme owl-loaded" data-items="1" data-dots="false" data-autoplay="true" data-loop="true" data-nav="true">


                    <div class="owl-stage-outer"><div style="transform: translate3d(-678px, 0px, 0px); transition: all 0.3s ease 0s; width: 1356px;" class="owl-stage"><div style="width: 226px; margin-right: 0px;" class="owl-item cloned"><li><a href="http://www.buybooksindia.com/upcoming-books-books-p3.php"><img src="~/images/upcoming-books-1.jpg" alt="Upcoming Books"></a></li></div><div style="width: 226px; margin-right: 0px;" class="owl-item cloned"><li><a href="http://www.buybooksindia.com/upcoming-books-books-p3.php"><img src="~/images/upcoming-books-2.jpg" alt="Upcoming Books"></a></li></div><div style="width: 226px; margin-right: 0px;" class="owl-item"><li><a href="http://www.buybooksindia.com/upcoming-books-books-p3.php"><img src="~/images/upcoming-books-1.jpg" alt="Upcoming Books"></a></li></div><div style="width: 226px; margin-right: 0px;" class="owl-item active"><li><a href="http://www.buybooksindia.com/upcoming-books-books-p3.php"><img src="~/images/upcoming-books-2.jpg" alt="Upcoming Books"></a></li></div><div style="width: 226px; margin-right: 0px;" class="owl-item cloned"><li><a href="http://www.buybooksindia.com/upcoming-books-books-p3.php"><img src="~/images/upcoming-books-1.jpg" alt="Upcoming Books"></a></li></div><div style="width: 226px; margin-right: 0px;" class="owl-item cloned"><li><a href="http://www.buybooksindia.com/upcoming-books-books-p3.php"><img src="~/images/upcoming-books-2.jpg" alt="Upcoming Books"></a></li></div></div></div>
                    <div class="owl-controls"><div class="owl-nav"><div style="" class="owl-prev"><i class="fa fa-angle-left"></i></div><div style="" class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                </ul>
            </div>
            <div class="box-product-list">
                <div class="tab-container">
                    <div id="tab-5" class="tab-panel active">
                        <ul class="product-list owl-carousel nav-center owl-theme owl-loaded" data-dots="false" data-loop="true" data-nav="true" data-margin="50" data-responsive="{&quot;0&quot;:{&quot;items&quot;:2},&quot;600&quot;:{&quot;items&quot;:4},&quot;1000&quot;:{&quot;items&quot;:5}}">




















                            <div class="owl-stage-outer">
                                <div style="transform: translate3d(-984px, 0px, 0px); transition: all 0s ease 0s; width: 3936px;" class="owl-stage">
                                    <div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/harry-potter-and-the-cursed-child-parts-i-and-ii-9781338099133-100001608.htm"><img class="img-responsive" alt="HARRY POTTER AND THE CURSED CHILD - PARTS I AND II" src="~/images/image_023.jpg" title="HARRY POTTER AND THE CURSED CHILD - PARTS I AND II" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="100001608" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001608" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/harry-potter-and-the-cursed-child-parts-i-and-ii-9781338099133-100001608.htm" title="HARRY POTTER AND THE CURSED CHILD - PARTS I AND II"><h2>Harry Potter and the Cursed</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>674<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>899</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                25% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/the-world-s-favourite-and-then-there-were-none-murder-on-the-orient-express-the-murder-of-roger-a-9780008158613-100001607.htm"><img class="img-responsive" alt="THE WORLD'S FAVOURITE: AND THEN THERE WERE NONE, MURDER ON THE ORIENT EXPRESS, THE MURDER OF ROGER ACKROYD (BOXED SET) " src="~/images/image_011.jpg" title="THE WORLD'S FAVOURITE: AND THEN THERE WERE NONE, MURDER ON THE ORIENT EXPRESS, THE MURDER OF ROGER ACKROYD (BOXED SET) " border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="100001607" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001607" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/the-world-s-favourite-and-then-there-were-none-murder-on-the-orient-express-the-murder-of-roger-a-9780008158613-100001607.htm" title="THE WORLD'S FAVOURITE: AND THEN THERE WERE NONE, MURDER ON THE ORIENT EXPRESS, THE MURDER OF ROGER ACKROYD (BOXED SET) "><h2>The World's Favourite: And</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>559<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>699</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                20% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/like-a-love-song-9789351778035-100001606.htm"><img class="img-responsive" alt="LIKE A LOVE SONG" src="~/images/image.jpg" title="LIKE A LOVE SONG" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="100001606" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001606" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/like-a-love-song-9789351778035-100001606.htm" title="LIKE A LOVE SONG"><h2>Like a Love Song</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>126<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>175</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                28% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/mum-bhai-returns-9789352294343-100000747.htm"><img class="img-responsive" alt="MUM'BHAI'RETURNS" src="~/images/image_008.jpg" title="MUM'BHAI'RETURNS" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="100000747" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100000747" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/mum-bhai-returns-9789352294343-100000747.htm" title="MUM'BHAI'RETURNS"><h2>Mum'bhai'Returns</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>245<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>350</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                30% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/theek-tumhare-peechhe-hindi--9789384419400-29617743.htm"><img class="img-responsive" alt="THEEK TUMHARE PEECHHE (HINDI)" src="~/images/image_010.jpg" title="THEEK TUMHARE PEECHHE (HINDI)" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="29617743" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29617743" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/theek-tumhare-peechhe-hindi--9789384419400-29617743.htm" title="THEEK TUMHARE PEECHHE (HINDI)"><h2>Theek Tumhare Peechhe (Hindi)</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>83<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>115</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                28% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/flawed-9780008125127-100001676.htm"><img class="img-responsive" alt="FLAWED" src="~/images/image_027.jpg" title="FLAWED" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="100001676" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001676" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/flawed-9780008125127-100001676.htm" title="FLAWED"><h2>FLAWED</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>262<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>350</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                25% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/good-simple--9781785031601-29593687.htm"><img class="img-responsive" alt="GOOD + SIMPLE " src="~/images/image_002.jpg" title="GOOD + SIMPLE " border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="29593687" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29593687" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/good-simple--9781785031601-29593687.htm" title="GOOD + SIMPLE "><h2>Good + Simple </h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>1154<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>1499</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                23% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/the-only-book-you-will-ever-need-on-branding-to-start-run-and-grow-your-business-9781472137661-29592024.htm"><img class="img-responsive" alt="THE ONLY BOOK YOU WILL EVER NEED ON BRANDING : TO START, RUN AND GROW YOUR BUSINESS" src="~/images/image_025.jpg" title="THE ONLY BOOK YOU WILL EVER NEED ON BRANDING : TO START, RUN AND GROW YOUR BUSINESS" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="29592024" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29592024" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/the-only-book-you-will-ever-need-on-branding-to-start-run-and-grow-your-business-9781472137661-29592024.htm" title="THE ONLY BOOK YOU WILL EVER NEED ON BRANDING : TO START, RUN AND GROW YOUR BUSINESS"><h2>The Only Book You Will Ever</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>203<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>299</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                32% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/how-the-marquis-got-his-coat-back-9781472235329-29592007.htm"><img class="img-responsive" alt="HOW THE MARQUIS GOT HIS COAT BACK" src="~/images/image_006.jpg" title="HOW THE MARQUIS GOT HIS COAT BACK" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="29592007" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29592007" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/how-the-marquis-got-his-coat-back-9781472235329-29592007.htm" title="HOW THE MARQUIS GOT HIS COAT BACK"><h2>How the Marquis Got His Coat</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>108<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>150</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                28% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/if-you-re-so-smart-why-aren-t-you-happy--9781785040412-29592001.htm"><img class="img-responsive" alt="IF YOU'RE SO SMART WHY AREN'T YOU HAPPY " src="~/images/image_017.jpg" title="IF YOU'RE SO SMART WHY AREN'T YOU HAPPY " border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="29592001" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29592001" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/if-you-re-so-smart-why-aren-t-you-happy--9781785040412-29592001.htm" title="IF YOU'RE SO SMART WHY AREN'T YOU HAPPY "><h2>If You're So Smart Why Aren't</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>419<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>599</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                30% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item active">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/harry-potter-and-the-cursed-child-parts-i-and-ii-9781338099133-100001608.htm"><img class="img-responsive" alt="HARRY POTTER AND THE CURSED CHILD - PARTS I AND II" src="~/images/image_023.jpg" title="HARRY POTTER AND THE CURSED CHILD - PARTS I AND II" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="100001608" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001608" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/harry-potter-and-the-cursed-child-parts-i-and-ii-9781338099133-100001608.htm" title="HARRY POTTER AND THE CURSED CHILD - PARTS I AND II"><h2>Harry Potter and the Cursed</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>674<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>899</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                25% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/the-world-s-favourite-and-then-there-were-none-murder-on-the-orient-express-the-murder-of-roger-a-9780008158613-100001607.htm"><img class="img-responsive" alt="THE WORLD'S FAVOURITE: AND THEN THERE WERE NONE, MURDER ON THE ORIENT EXPRESS, THE MURDER OF ROGER ACKROYD (BOXED SET) " src="~/images/image_011.jpg" title="THE WORLD'S FAVOURITE: AND THEN THERE WERE NONE, MURDER ON THE ORIENT EXPRESS, THE MURDER OF ROGER ACKROYD (BOXED SET) " border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="100001607" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001607" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/the-world-s-favourite-and-then-there-were-none-murder-on-the-orient-express-the-murder-of-roger-a-9780008158613-100001607.htm" title="THE WORLD'S FAVOURITE: AND THEN THERE WERE NONE, MURDER ON THE ORIENT EXPRESS, THE MURDER OF ROGER ACKROYD (BOXED SET) "><h2>The World's Favourite: And</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>559<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>699</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                20% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/like-a-love-song-9789351778035-100001606.htm"><img class="img-responsive" alt="LIKE A LOVE SONG" src="~/images/image.jpg" title="LIKE A LOVE SONG" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="100001606" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001606" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/like-a-love-song-9789351778035-100001606.htm" title="LIKE A LOVE SONG"><h2>Like a Love Song</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>126<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>175</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                28% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/mum-bhai-returns-9789352294343-100000747.htm"><img class="img-responsive" alt="MUM'BHAI'RETURNS" src="~/images/image_008.jpg" title="MUM'BHAI'RETURNS" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="100000747" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100000747" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/mum-bhai-returns-9789352294343-100000747.htm" title="MUM'BHAI'RETURNS"><h2>Mum'bhai'Returns</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>245<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>350</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                30% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/theek-tumhare-peechhe-hindi--9789384419400-29617743.htm"><img class="img-responsive" alt="THEEK TUMHARE PEECHHE (HINDI)" src="~/images/image_010.jpg" title="THEEK TUMHARE PEECHHE (HINDI)" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="29617743" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29617743" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/theek-tumhare-peechhe-hindi--9789384419400-29617743.htm" title="THEEK TUMHARE PEECHHE (HINDI)"><h2>Theek Tumhare Peechhe (Hindi)</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>83<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>115</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                28% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/flawed-9780008125127-100001676.htm"><img class="img-responsive" alt="FLAWED" src="~/images/image_027.jpg" title="FLAWED" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="100001676" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=100001676" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/flawed-9780008125127-100001676.htm" title="FLAWED"><h2>FLAWED</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>262<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>350</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                25% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/good-simple--9781785031601-29593687.htm"><img class="img-responsive" alt="GOOD + SIMPLE " src="~/images/image_002.jpg" title="GOOD + SIMPLE " border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="29593687" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29593687" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/good-simple--9781785031601-29593687.htm" title="GOOD + SIMPLE "><h2>Good + Simple </h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>1154<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>1499</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                23% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/the-only-book-you-will-ever-need-on-branding-to-start-run-and-grow-your-business-9781472137661-29592024.htm"><img class="img-responsive" alt="THE ONLY BOOK YOU WILL EVER NEED ON BRANDING : TO START, RUN AND GROW YOUR BUSINESS" src="~/images/image_025.jpg" title="THE ONLY BOOK YOU WILL EVER NEED ON BRANDING : TO START, RUN AND GROW YOUR BUSINESS" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="29592024" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29592024" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/the-only-book-you-will-ever-need-on-branding-to-start-run-and-grow-your-business-9781472137661-29592024.htm" title="THE ONLY BOOK YOU WILL EVER NEED ON BRANDING : TO START, RUN AND GROW YOUR BUSINESS"><h2>The Only Book You Will Ever</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>203<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>299</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                32% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/how-the-marquis-got-his-coat-back-9781472235329-29592007.htm"><img class="img-responsive" alt="HOW THE MARQUIS GOT HIS COAT BACK" src="~/images/image_006.jpg" title="HOW THE MARQUIS GOT HIS COAT BACK" border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="29592007" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29592007" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/how-the-marquis-got-his-coat-back-9781472235329-29592007.htm" title="HOW THE MARQUIS GOT HIS COAT BACK"><h2>How the Marquis Got His Coat</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>108<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>150</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                28% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div><div style="width: 146.8px; margin-right: 50px;" class="owl-item cloned">
                                        <li>
                                            <div class="left-block">
                                                <a href="http://www.buybooksindia.com/if-you-re-so-smart-why-aren-t-you-happy--9781785040412-29592001.htm"><img class="img-responsive" alt="IF YOU'RE SO SMART WHY AREN'T YOU HAPPY " src="~/images/image_017.jpg" title="IF YOU'RE SO SMART WHY AREN'T YOU HAPPY " border="0"></a>
                                                <div class="quick-view">
                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                    <a title="Quick view" class="search" href="#"></a>
                                                </div>
                                                <div class="add-to-cart"><a product-id="29592001" class="add-to-carta" href="http://www.buybooksindia.com/add-to-cart.php?pid=29592001" title="Pre Order">Pre Order</a></div>
                                            </div>
                                            <div class="right-block">
                                                <div class="product-name"><a href="http://www.buybooksindia.com/if-you-re-so-smart-why-aren-t-you-happy--9781785040412-29592001.htm" title="IF YOU'RE SO SMART WHY AREN'T YOU HAPPY "><h2>If You're So Smart Why Aren't</h2></a></div>
                                                <div class="content_price">
                                                    <span class="price product-price">
                                                        <span class="rupee">Rs</span>419<span>
                                                            <span class="price old-price"><span class="rupee">Rs</span>599</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="price-percent-reduction2">
                                                30% OFF
                                            </div>
                                            <div class="new-book"></div>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-controls"><div class="owl-nav"><div style="" class="owl-prev"><i class="fa fa-angle-left"></i></div><div style="" class="owl-next"><i class="fa fa-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>